body {
  margin: 0;
  padding: 0;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 26%,
    rgba(252, 70, 107, 1) 100%
  );
  font-family: 'Rajdhani', sans-serif;
  color: white;
}

ul {
  margin-top: 1.5rem;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

.app {
  display: flex;
  justify-content: center;
  width: 450px;
  height: 600px;
  background-color: #44007d;
  box-shadow: 3px -3px 2px white;
  border-radius: 6px;
  overflow: auto;
}

h1 {
  font-size: 2.3rem;
  margin: 1rem 0;
}

.task-info {
  font-size: 1.4rem;
  margin-left: 3rem;
}

.user-input {
  box-sizing: border-box;
  width: 220px;
  height: 30px;
  border-radius: 3px;
  font-size: 1.2rem;
}

.user-input:focus {
  border-bottom: 3px solid #06aeba;
  outline: none;
}

.submit-button {
  height: 28px;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  background-color: yellow;
  border: none;
  border-radius: 3px;
}

.submit-button:hover {
  background-color: #0d6612;
  color: white;
}

ul li {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding-bottom: 5px;
}

input[type='checkbox'] {
  margin-right: 20px;
  width: 20px;
  height: 20px;
}

.delete-btn {
  display: flex;
  cursor: pointer;
}

.delete-btn:hover {
  color: red;
}

.input-button-container {
  display: flex;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  background-color: #8fa0ba;
  box-shadow: -4px 4px 0 #353f4f;
  color: black;
}
